.input-item.hidden {
    display: none;
}

.input-item.visible {
    display: block;
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.input-item {
    margin-bottom: 10px;
}

.input-item button {
    margin-left: 10px;
}
